{% extends 'base.html.twig' %}

{% block title %}Quasarr - Movies{% endblock %}

{% block body %}
    {{ include('_nav.html.twig', { active: 'movies' }) }}

    <div class="container-xl">
        {{ include('_flash_messages.html.twig') }}
    </div>

    <div class="container-xl mt-5">
        <h2>🎞 Movies</h2>
        <div class="row row-cols-1 row-cols-md-12 mt-5 mb-5">
            {% set badgeClasses = {
                Downloading: 'primary',
                Downloaded: 'success',
                Missing: 'danger',
                Paused: 'warning',
            } %}
            {% for movie in movies %}
                <div class="col mb-4">
                    <div class="card"
                         data-component="download-progress"
                         data-status-url="{{ torrents is not empty ? path('torrent_status', { hash: torrents[movie.id].hashString }) }}"
                         data-resume-url="{{ torrents is not empty ? path('torrent_resume', { hash: torrents[movie.id].hashString }) }}"
                         data-pause-url="{{ torrents is not empty ? path('torrent_pause', { hash: torrents[movie.id].hashString }) }}"
                         data-hash="{{ torrents is not empty ? torrents[movie.id].hashString }}"
                         data-status="{{ torrents is not empty ? torrents[movie.id].statusString : 'Missing' }}">
                        <div class="card-body">
                            <h5 class="card-title">
                                <img src="https://image.tmdb.org/t/p/w220_and_h330_face{{ tmdbMovies[movie.id].posterPath }}"
                                     class="d-inline-block"
                                     alt="{{ movie.title }}"
                                     width="55"
                                     height="82">
                                {{ movie.title }}
                                {% if movie.id in torrents|keys %}
                                    <span class="badge badge-{{ badgeClasses[torrents[movie.id].statusString] }} float-right"
                                          id="title-badge-{{ torrents[movie.id].hashString }}">
                                        {{ torrents[movie.id].statusString  }}
                                    </span>
                                {% else %}
                                    <span class="badge badge-secondary float-right">
                                        Missing
                                    </span>
                                {% endif %}
                            </h5>
                            <div class="card-text d-flex">
                                {% if movie.id in torrents|keys %}
                                    <div class="progress flex-fill align-self-center mr-3">
                                        <div class="progress-bar bg-{{ badgeClasses[torrents[movie.id].statusString] }}"
                                             id="progress-{{ torrents[movie.id].hashString }}"
                                             role="progressbar"
                                             style="width: {{ torrents[movie.id].percentDone(true) }}%"
                                             aria-valuenow="{{ torrents[movie.id].percentDone(true) }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                            {{ torrents[movie.id].percentDone(true) }}%
                                        </div>
                                    </div>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button"
                                                id="resume-torrent"
                                                class="btn btn-primary">
                                            ▶
                                        </button>
                                        <button type="button"
                                                id="pause-torrent"
                                                class="btn btn-warning">
                                            ⏸
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>{{ 'movies.list.empty'|trans }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
