<div class="modal-header">
    <h5 class="modal-title">{{ tvShow.name }}</h5>
    <button type="button"
            class="js-dialog-close close"
            data-dismiss="modal"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="{{ path('add_tvseason', { tmdbId: tvShow.id }) }}" method="POST">
    <div class="modal-body">
        {% for season in tvShow.seasons|filter((season) => season.seasonNumber != 0) %}
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox"
                       class="custom-control-input"
                       id="{{ season.name }}"
                       value="{{ season.seasonNumber }}"
                       name="seasons-numbers[]"
                       {{ season.seasonNumber in existingTvSeasons ? 'checked disabled' }}>
                <label class="custom-control-label"
                       for="{{ season.name }}">
                    Season {{ season.seasonNumber }} ({{ season.episodeCount }} episodes)
                </label>
            </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-outline-secondary js-dialog-close">
            Close
        </button>
        <button type="submit"
                class="btn btn-primary">
            Download
        </button>
    </div>
</form>
